.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.game-box {
  width: 64px;
  height: 64px;
  border: 2px solid black;
  margin: 8px;
  cursor: pointer;
}

.game-box.hit {
  background-color: green;
}

.score {
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
}

.cont1{
   text-align: center;
    
}
