.tree {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding-left:40%;
  width:full;
  height:full;
  text-align: center;

}

.tree-root {
  margin-bottom: 10px;
}

.tree-node {
  margin-left: 10px;
  
}

.tree-node-label {
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 3px;
  background-color:#f6eeee;
  width:150px;
  margin-top: 5px;
   opacity: .5;
  
}

.tree-node-label:hover {
  background-color: skyblue;
}

.tree-node-label-parent:after {
  content: '      ▶';
}

.tree-node-children {
  margin-left: 10px;
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.tree-node-child {
  margin-top: 5px;
}
