
.square {
position: absolute;
top: 50%;
border: 2px solid black;
background-color:rgb(199, 199, 230) ;
margin:40px 470px auto;
text-align: center;

}

.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: black;
}
