.transfer {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  
}

.bucket {
  width: 250px;
  height:70vh;
  border-radius: 5%;
background-image: url("../fruits.jpg");  
 opacity:0.6;

}


.itemA {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content:center;
  align-items: center;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.buttons button {
  margin-bottom: 5px;
}

button {
  width:150px;
  background-color: #7c7cd0;
  border-radius: 8px;
  color: white;
  padding: 8px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px ;
  cursor: pointer;
}

.selected button {
  background-color: #1108b2;
}



