.transfer {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
    margin-top: 30px
}

.bucket {

  width: 250px;
  height:75vh;
  padding: 10px;
  border: 2px solid #2e2a2a;
  border-radius: 5%;
  background-color: #ffffff;

}

.bucket h3 {
  margin-top: 0;
}

.itemA {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content:center;
  align-items: center;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.buttons button {
  margin-bottom: 5px;
}

button {
  width:150px;
  background-color: #7c7cd0;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.selected button {
  background-color: #1108b2;
}



