.container{
  height:50px;
  color: white;
 display: flex;
  flex-direction: row;
  place-items: center;
justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.794);
}

body{
  background-color:rgb(209, 197, 197);

}