.container{
  height:50px;
  color: white;
 display: flex;
  flex-direction: row;
  place-items: center;
justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.794);

}

body{
background-image: url(".//bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}